@*@model IEnumerable<Point_Of_Sale.ProductImage>*@
@model Point_Of_Sale.ProductImage

@{
    ViewBag.Title = "Index";
    var ProductImageList = ViewBag.ProductImageList as IEnumerable<Point_Of_Sale.ProductImage>;
}

@*<h2 style="text-align:center; color:chocolate; margin-bottom:30px;"><u>Product Image Dashboard</u></h2>*@

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h2 style="font-family: 'Kalam', cursive">Product Image</h2>
        <hr />
    </div>
</div>

<p style="margin-bottom:30px;">
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="../ProductImage/Create" class="btn btn-success">Create New</a>
</p>


<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Title</th>
            <th>Product Image</th>
            <th>Action</th>
        </tr>
    </thead>

@foreach (var item in ProductImageList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTitle)
        </td>
        <td>
            <img src="../Images/ProductImage/@(item.ID.ToString() + "_" + item.ProductImage1)" height="100" />
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@

            <a href="../ProductImage/Edit/@item.ID" class="btn btn-info">Edit</a>
            <a href="../ProductImage/Delete/@item.ID" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
