@if (Session["type"] != null && Session["type"].ToString() == "Admin")
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../Employee/Logout">Logout</a></li>
        <li><a href="../Employee/MyAccount">@Session["EmployeeName"].ToString()</a></li>
    </ul>   
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../Employee/Login">Login</a></li>
    </ul>    
}
