@model IEnumerable<Point_Of_Sale.EmployeeAdmin>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; color:chocolate; margin-bottom:30px;"><u>Employee Admin Dashboard</u></h2>

<p style="margin-bottom:30px;">@Html.ActionLink("Create New", "Create")</p>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>
        </tr>
    }

</table>
